<!DOCTYPE html>
<html>
<body body {
  background-color: coral;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.download (1).jpg {
  width: 300px;
  height: 200px;
  background-image: url(img/download (1).jpg);
}

.download (2).jpg {
  width: 300px;
  height: 200px;
  background-image: url(img/download (2).jpg);
}

.main-qimg-836606ba738b462996ac5afb76e902eb-lq.jpg {
  width: 75px;
  height: 50px;
  background-image: url(img/main-qimg-836606ba738b462996ac5afb76e902eb-lq.jpg);
}
.maxresdefault.jpg {
  width: 75px;
  height: 50px;
  background-image: url(img/maxresdefault.jpg);
}
  </body>
</html>

